<div class="heading-box">
  <h1>50% DISCOUNTS ON FIRST 10 PROJECTS!</h1>
 </div>
 <div class="card-container">
   <div class="card" *ngFor="let card of cards">
     <img [src]="card.imageUrl" alt="Card Image">
     <div class="card-content">
       <div class="card-title">{{ card.title }}</div>
       <div class="card-description">{{ card.description }}</div>
     </div>
   </div>
 </div>










<!--  -->
<section class="features" id="features">
    <div class="container">
      <div class="row">
        <div class="col-md-4 feature-item">
          <div class="animated-border">
            <div class="border-top"></div>
          </div>
          <span class="feature-icon">🎨</span>
          <h3>Creative Design</h3>
          <p>Create visually appealing and modern designs for your website.</p>
        </div>
        <div class="col-md-4 feature-item">
          <div class="animated-border">
            <div class="border-top"></div>
          </div>
          <span class="feature-icon">💻</span>
          <h3>Responsive Layout</h3>
          <p>Build a responsive website that looks great on all devices.</p>
        </div>
        <div class="col-md-4 feature-item">
          <div class="animated-border">
            <div class="border-top"></div>
          </div>
          <span class="feature-icon">⚡️</span>
          <h3>Fast Performance</h3>
          <p>Optimize your website for speed and provide a smooth user experience.</p>
        </div>
      </div>
    </div>
    <div class="hero-content">
        <a href="https://github.com/sheza18"  class="btn btn-primary cta-button">SEE MORE</a>
         </div>
    
  </section>