<div class="container mt-5">
    <div class="contact-form">
      <h2 class="mb-4">Contact Us</h2>
      <form>
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" id="name" name="name" required>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" id="email" name="email" required>
        </div>
        <div class="form-group">
          <label for="message">DESCRIPTION</label>
          <textarea id="message" name="message" required></textarea>
        </div>
        <div class="form-group">
          <button (click)="showAlert()">SUBMIT</button>
        </div>
      </form>
    </div>
  </div>
  <br> <br> <br>
  
  
  <section class="global">
    <h1>Global Presense</h1>
    <div style="width: 100%"><iframe width="100%" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=80%25&amp;height=400&amp;hl=en&amp;q=1%20Grafton%20Street,%20Dublin,%20Ireland+(My%20Business%20Name)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"><a href="https://www.maps.ie/distance-area-calculator.html">measure acres/hectares on map</a></iframe></div>
  
  
